@import 'comments.css';
@import 'header.css';
@import 'home.css';
@import 'modal.css';
@import 'recipe_show.css';
@import 'reset.css';
@import 'user_show.css';

body, #root {
  height: 100%;
}

#app {
  position: relative;
  min-height: 100vh;
}

div.app-body {
  /* height: 100vh !important; */
  padding-bottom: 10rem;
  margin: 0 64px 0 64px;
}

.app-footer {
  /* margin-top: 40px;
  padding: 40px 64px 40px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 2.5rem; */
  position: absolute;
  bottom: 0;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 64px;
}

.footer-message {
  font-size: 20px;
  font-weight: 500;
  width: 100%;

  padding-right: 100px;
}

/* .footer-spacer {
  width: 100%;
} */

.github-link, .linkedin-link {
  height: 50px;
  width: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.github, .linkedin {
  padding-right: 10px;
  padding-left: 10px;
}

.welcome {
  height: 80%;
}


a, u {
  text-decoration: none;
  color: black;
}

.black-button {
  background-color: black;
  border-color: black;
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
}

.green-button {
  border-width: 1px;
  background-color: rgb(26, 137, 23);
  border-color: rgb(26, 137, 23);
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
}

.green-button#Following {
  border-color: rgb(26, 137, 23);
  background-color: white;
  color: rgb(26, 137, 23);
}

h2 {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
}

.home-page {
  display: flex;
}

.logo {
  font-weight: bold;
}