@import 'reset.css';
@import 'modal.css';
@import 'header.css';
@import 'recipe_show.css';
@import 'home.css';
@import 'comments.css';
@import 'user_show.css';

a, u {
  text-decoration: none;
  color: black;
}

.black-button {
  background-color: black;
  border-color: black;
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
}

.green-button {
  background-color: rgb(26, 137, 23);
  border-color: rgb(26, 137, 23);;
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
}

h2 {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
}

.home-page {
  display: flex;
}

.logo {
  font-weight: bold;
}