@import 'comments.css';
@import 'header.css';
@import 'home.css';
@import 'modal.css';
@import 'recipe_show.css';
@import 'reset.css';
@import 'user_show.css';
@import 'footer.css';
@import 'splash.css';
@import 'recipe_form.css';

body, #root {
  height: 100%;
}

#app {
  position: relative;
  min-height: 100vh;
}

div.app-body {
  margin: 0 64px 0 64px;
}

.welcome {
  height: 80%;
}

a, u {
  text-decoration: none;
  color: black;
}

.black-button {
  background-color: black;
  border-color: black;
  border-style: solid;
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
}

.green-button {
  border-width: 1px;
  border-style: solid;
  background: rgb(26, 137, 23);
  border-color: rgb(26, 137, 23);
  color: white;
  padding: 7px 16px 9px;
  border-radius: 99em;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}

.green-button#Following {
  border-color: rgb(26, 137, 23);
  background-color: white;
  color: rgb(26, 137, 23);
  /* font-family: inherit;
  font-size: 14px;
  font-weight: 600; */
}

h2 {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
}

.home-page {
  display: flex;
}

.logo {
  font-weight: bold;
}