.comments-modal {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comments-modal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.close-comments-button {
  font-size: 32px;
  color: rgb(117, 117, 117);
  cursor: pointer;
}

.comments-button {
  font-weight: 800;
  cursor: pointer;
}

.comment-buttons {
  display: flex;
}

.comments-list li:first-child {
  margin-top: 20px;
}

.comments-list li:not(:last-child){
  margin-bottom: 20px;
}

.comments-count {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;

}

.comments.modal-child {
  padding: 0 0;
}

li.comment-list-item {
  margin-left: 20px;
  margin-right: 20px;
}

.commenter-photo {
  height: 32px;
  width: auto;
  border-radius: 16px;
}

div.comment-info {
  display: flex;
  align-items: center;
}

.commenter-name {
  padding-left: 12px;
}

.comment-item-body {
  margin-top: 20px;
  text-align: left;
}

.comment-yum-nav, .comment-buttons {
  margin-top: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment-yum-count {
  margin-left: 5px;
}