.index-nav > h2, .index-nav > div {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 0 12px 12px 0;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
.index-nav > h2 {
  cursor: pointer;
}

.index-nav > .recommended-recipes {
  font-weight: 700;
  border-bottom: 1px solid rgb(41, 41, 41);
}

.right-padding {
  flex: 1;
}

.recipes-index {
  margin: 0 48px 0 48px;
  width: 100%;
  padding: 56px 0 0 0;
}

.index-nav {
  display: flex;
}

.recipes-list {
  padding: 30px 0 0 0;
}

.recipe-list-item {
  margin: 0 0 32px 0;
}

.recipe-item-title {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}

.author-link-wrapper {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.author-photo {
  height: 20px;
  width: auto;
  border-radius: 10px;
}

.author-name {
  margin-left: 8px;
}