.recipe-show {
  margin: 0 64px 0 64px;
}

.recipe-info {
  display: flex;
}

.recipe-info > :not(:last-child) {
  margin-right: 10px;
}

.recipe-info > .publish-date {
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.recipe-info > div.author {
  color: black;
}

.title-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-title {
  margin-right: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 46px;
  font-weight: 750;
  line-height: 56px;
}

.recipe-body {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.recipe-footer {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.left-buttons {
  display: flex;
}

.comments-button {
  width: 50px;
  height: 50px;
  margin: -12px;
  margin-left: 24px;
}

.recipe-author-photo {
  cursor: pointer;
  height: 40px;
  width: auto;
  border-radius: 20px;
}

.author {
  cursor: pointer;
  color: rgba(134, 132, 132, 1);
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.recipe-info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.recipe-photo {
  vertical-align: middle;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin-bottom: 20px;
}

.yum-nav, .comment-nav {
  display: flex;
  align-items: center;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.yum-nav :first-child {
  margin-right: 5px;
}

div.comment-count {
  margin-left: 5px;
}

.yum-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.yum-count{
  color: rgba(117, 117, 117, 1);
}