.guest-recipes-index {
  padding-top: 40px;
  padding-bottom: 16px;

}

.new-on {
  text-transform: uppercase;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.guest-recipes-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.guest-recipes-list > li {
  width: 50%;
}