.user-show > * {
  padding: 0 64px 0 64px;
  margin: 0 -64px 0 -64px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-title {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.user-show-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 rgb(230, 230, 230);
  padding: 25px 64px;
  background: white;
  margin-bottom: 20px;
}

.user-show-header > :not(:last-child) {
  margin: 0 25px 0 0;
}

.user-show-nav-spacer {
  width: 60%;
}

.user-recipe-item-title {
  font-size: 36px;
  font-weight: bolder;
  cursor: pointer;
}

.follower-count {
  display: flex;
  align-items: center;
}

.number-followers {
  margin-right: 5px;
}

.user-recipe-list-item {
  margin: 0 0 48px 0;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}